
body{
  margin: 0;
  background-color: #F9EBC8;
}


.titulo{
  color: rgb(10, 10, 10);
  text-align: center;
}
.sub{
  
  color: rgb(10, 10, 10);
}


.cuadrodedatos{
  
  width: 49.75%;
  height: 23%;
  display: inline-block;
}
.intro{
  font-size: large;

  
}
.cuadrodedatos1{
  
  
  display: inline-block;
  width: 49.75%;
  height: 23%;
}
label{
  width: 2rem;
  height: 2rem;
}

.cuadrodedatos2{
  top: 50px;
  
  display: inline-block;
  width: 49.75%;
  height: 23%;
}

/*

.cdc {
  background-color: #205375;
}
.let{
  color: rgb(200, 200, 200);
  font-size: large;

}